

html {
    height: 100%;
    color: #252326;
    background: #D0F4FD;
    font-size: 2.4vw;
    overflow: hidden;
  }
  
  @media all and (min-width: 576px) {
    html {
      font-size: 1.5vw;
    }
  }
 
  @media all and (min-width: 769px) {
    html {
      font-size: 1vw;
    }
  }

@font-face {
	font-family: 'Acrom';
	src: url('/fonts/acrom-bold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
}
*,
*:before,
*:after {
  box-sizing: inherit;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  -webkit-tap-highlight-color: transparent;
}
body {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    height: 100%;
    margin: 0;
    padding: 0 3.47rem;
    box-sizing: border-box;
    overscroll-behavior: none;
  }
  
  .background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(270deg, #FDCCFC 0%, #FDF4DA 48%, #CFF9FD 100%);
  
}
  @media all and (min-width: 576px) {
    body {
      padding: 0 6.94rem;
    }
  }

  main{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
  }

  .top img{
    position: absolute;
    top: 2.91rem;
    left: 0;
    width: 3.5rem;
    animation: rotate 1s ease-in-out infinite;
  }
  

.content{
    font: 700 1.3rem/2.4em "Acrom", sans-serif;
    color:#252326;
    width: 100%;
}

  
  @media all and (min-width: 576px) {
    .headline{
      font: 700 4.2rem/1em "Acrom", sans-serif;
      font-size: 4.04rem;
      
    }
     .top img{
        width:4.2rem;
    }
    
  }

  
  @media all and (min-width: 769px) {
    .headline{
    
      font: 700 4.2rem/1em "Acrom", sans-serif;
      font-size: 4.3rem;
    }
    .top img{
        width:4.2rem;
    }
  }

.description {
    font: 700 0.97rem/2em "Acrom", sans-serif;
    text-transform: uppercase;
    margin: 3.68rem 0 0 0;
  }

  footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0 0 2.91rem 0;
  }
  
  .email {
    font: 700 1.38rem/1em "Acrom", sans-serif;
    color: inherit;
    text-decoration: none;
  }
  
  .socials {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  .socials__link {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .socials__link:not(first-child) {
    margin-left: 3.47rem;
  }

  a{
    color: #252326;
    text-decoration: none;
    font-size:1.38em;

  }
  .fa:hover{
    transition: 0.5s ease-in-out;
    transform: scale(1.2);
  }
  a:any-link,a:visited{
    color: #252326;
    text-decoration: none;
  }








@keyframes rotate {

    

    15%{
        transform: rotate(10deg);
    }
    
    30%{
        transform: rotate(20deg);

    }
    45%{
        transform: rotate(30deg);

    }
   
   
    
}